In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
df_movies=pd.read_csv('C:\\Users\\Admin\\github\\DAtA SET\\ml-latest-small\\movies.csv')
df_movies
# Load the movie data set

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [72]:
df_movies.shape
# Shape of the movie data set

(9742, 3)

In [73]:
df_user=pd.read_csv('C:\\Users\\Admin\\github\\DAtA SET\\ml-latest-small\\ratings.csv')
df_user
# Load the rating the data set

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [74]:
df_user.shape
# SHape of the rating data set

(100836, 4)

In [75]:
#Inner Merge
df_moviedata=pd.merge(df_user,df_movies,how='inner',on='movieId')# Inner takes the intersection between two data set

In [77]:
df_moviedata # In this we have all the column which are available in he data set

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [78]:
#Merger
d_left={'pid':[101,102,103,104],'pname':['camera','mobile','laptop','watch'],'sp':[1000,2000,3000,4000]}
d_right={'pid':[101,102,105,104],'pcompany':['sony','asus','hp','rollex'],'product_color':['black','white','red','brown']}

In [79]:
d_left=pd.DataFrame(d_left)
d_right=pd.DataFrame(d_right)

In [80]:
print("-----D lEFT-----\n",d_left)

-----D lEFT-----
    pid   pname    sp
0  101  camera  1000
1  102  mobile  2000
2  103  laptop  3000
3  104   watch  4000

In [81]:
print("-----D RIGHT-----\n",d_right)

-----D RIGHT-----
    pid pcompany product_color
0  101     sony         black
1  102     asus         white
2  105       hp           red
3  104   rollex         brown

In [82]:
# Inner Merge: Here it will take the intersection of the two data set means ewhich are common to the data set it will take that only
df_innermerge=pd.merge(d_left,d_right,how='inner',on=['pid'])

In [83]:
df_innermerge

   pid   pname    sp pcompany product_color
0  101  camera  1000     sony         black
1  102  mobile  2000     asus         white
2  104   watch  4000   rollex         brown

In [84]:
#Outer merge 
df_outermerge=pd.merge(d_left,d_right,how='outer',on=['pid'])  # Takin out the union and give tha nan value which are not available

In [85]:
df_outermerge

   pid   pname      sp pcompany product_color
0  101  camera  1000.0     sony         black
1  102  mobile  2000.0     asus         white
2  103  laptop  3000.0      NaN           NaN
3  104   watch  4000.0   rollex         brown
4  105     NaN     NaN       hp           red

In [86]:
# Right _Merge
df_r_merge=pd.merge(d_left,d_right,how='right',on=['pid'])
df_r_merge

   pid   pname      sp pcompany product_color
0  101  camera  1000.0     sony         black
1  102  mobile  2000.0     asus         white
2  104   watch  4000.0   rollex         brown
3  105     NaN     NaN       hp           red

In [87]:
# Left _Merge
df_l_merge=pd.merge(d_left,d_right,how='left',on=['pid'])
df_l_merge

   pid   pname    sp pcompany product_color
0  101  camera  1000     sony         black
1  102  mobile  2000     asus         white
2  103  laptop  3000      NaN           NaN
3  104   watch  4000   rollex         brown

In [88]:
df_outermerge

   pid   pname      sp pcompany product_color
0  101  camera  1000.0     sony         black
1  102  mobile  2000.0     asus         white
2  103  laptop  3000.0      NaN           NaN
3  104   watch  4000.0   rollex         brown
4  105     NaN     NaN       hp           red

In [89]:
f_outer=df_outermerge.fillna(method='ffill')

In [90]:
f_outer

   pid   pname      sp pcompany product_color
0  101  camera  1000.0     sony         black
1  102  mobile  2000.0     asus         white
2  103  laptop  3000.0     asus         white
3  104   watch  4000.0   rollex         brown
4  105   watch  4000.0       hp           red

In [91]:
f_outer=df_outermerge.fillna(method='bfill')

In [92]:
f_outer

   pid   pname      sp pcompany product_color
0  101  camera  1000.0     sony         black
1  102  mobile  2000.0     asus         white
2  103  laptop  3000.0   rollex         brown
3  104   watch  4000.0   rollex         brown
4  105     NaN     NaN       hp           red

In [93]:
f=df_outermerge.fillna({'pname':'no info',"sp":5000,"pcompany":"no data","product_color":'green'})
f

   pid    pname      sp pcompany product_color
0  101   camera  1000.0     sony         black
1  102   mobile  2000.0     asus         white
2  103   laptop  3000.0  no data         green
3  104    watch  4000.0   rollex         brown
4  105  no info  5000.0       hp           red

In [95]:
# Which user has given what rating to which movie
movie_pivottable=df_moviedata.pivot_table(index='userId',columns='title',values='rating')

In [96]:
movie_pivottable

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [97]:
data=movie_pivottable.iloc[1:2,:]

In [98]:
print(data)

title   '71 (2014)  'Hellboy': The Seeds of Creation (2004)  \
userId
2              NaN                                      NaN

title   'Round Midnight (1986)  'Salem's Lot (2004)  \
userId
2                          NaN                  NaN

title   'Til There Was You (1997)  'Tis the Season for Love (2015)  \
userId
2                             NaN                              NaN

title   'burbs, The (1989)  'night Mother (1986)  (500) Days of Summer (2009)  \
userId
2                      NaN                   NaN                          NaN

title   *batteries not included (1987)  ...  Zulu (2013)  [REC] (2007)  \
userId                                  ...
2                                  NaN  ...          NaN           NaN

title   [REC]² (2009)  [REC]³ 3 Génesis (2012)  \
userId
2                 NaN                      NaN

title   anohana: The Flower We Saw That Day - The Movie (2013)  \
userId
2                                                     NaN

title   eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  \
userId
2                   NaN         NaN                             NaN

title   ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
userId
2                         NaN                                        NaN

[1 rows x 9719 columns]

In [103]:
#perticular movie rating
movie_name=input('enter movie name')
datamovie=movie_pivottable[movie_name]

print(datamovie.dropna())
#These user have given perticular rating to toy tory movie

enter movie nameToy Story (1995)
userId
1      4.0
5      4.0
7      4.5
15     2.5
17     4.5
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: Toy Story (1995), Length: 215, dtype: float64

In [104]:
df_ratings=pd.DataFrame(df_moviedata.groupby('title')['rating'].mean())
df_ratings

                                             rating
title
'71 (2014)                                 4.000000
'Hellboy': The Seeds of Creation (2004)    4.000000
'Round Midnight (1986)                     3.500000
'Salem's Lot (2004)                        5.000000
'Til There Was You (1997)                  4.000000
...                                             ...
eXistenZ (1999)                            3.863636
xXx (2002)                                 2.770833
xXx: State of the Union (2005)             2.000000
¡Three Amigos! (1986)                      3.134615
À nous la liberté (Freedom for Us) (1931)  1.000000

[9719 rows x 1 columns]

In [105]:
df_moviedata.groupby(['title','rating']).groups

{("'71 (2014)", 4.0): Int64Index([100803], dtype='int64'),
 ("'Hellboy': The Seeds of Creation (2004)",
  4.0): Int64Index([97100], dtype='int64'),
 ("'Round Midnight (1986)", 3.5): Int64Index([97091, 97092], dtype='int64'),
 ("'Salem's Lot (2004)", 5.0): Int64Index([97170], dtype='int64'),
 ("'Til There Was You (1997)", 3.0): Int64Index([89522], dtype='int64'),
 ("'Til There Was You (1997)", 5.0): Int64Index([89523], dtype='int64'),
 ("'Tis the Season for Love (2015)", 1.5): Int64Index([68896], dtype='int64'),
 ("'burbs, The (1989)", 1.0): Int64Index([44280, 44284], dtype='int64'),
 ("'burbs, The (1989)", 2.0): Int64Index([44274, 44275, 44289], dtype='int64'),
 ("'burbs, The (1989)", 3.0): Int64Index([44276, 44279, 44283], dtype='int64'),
 ("'burbs, The (1989)", 3.5): Int64Index([44281, 44282, 44285], dtype='int64'),
 ("'burbs, The (1989)", 4.0): Int64Index([44277, 44278, 44286], dtype='int64'),
 ("'burbs, The (1989)", 4.5): Int64Index([44288], dtype='int64'),
 ("'burbs, The (1989)", 5.0): Int64Index([44273, 44287], dtype='int64'),
 ("'night Mother (1986)", 3.0): Int64Index([99097], dtype='int64'),
 ('(500) Days of Summer (2009)', 0.5): Int64Index([47404], dtype='int64'),
 ('(500) Days of Summer (2009)', 1.0): Int64Index([47413], dtype='int64'),
 ('(500) Days of Summer (2009)', 1.5): Int64Index([47432], dtype='int64'),
 ('(500) Days of Summer (2009)', 2.0): Int64Index([47424], dtype='int64'),
 ('(500) Days of Summer (2009)',
  2.5): Int64Index([47410, 47431, 47438, 47442], dtype='int64'),
 ('(500) Days of Summer (2009)',
  3.0): Int64Index([47414, 47425], dtype='int64'),
 ('(500) Days of Summer (2009)',
  3.5): Int64Index([47405, 47416, 47417, 47419, 47428, 47443], dtype='int64'),
 ('(500) Days of Summer (2009)',
  4.0): Int64Index([47402, 47403, 47407, 47408, 47409, 47411, 47422, 47423, 47426,
             47427, 47430, 47436, 47437, 47439, 47441],
            dtype='int64'),
 ('(500) Days of Summer (2009)',
  4.5): Int64Index([47406, 47420, 47429, 47434, 47435, 47440], dtype='int64'),
 ('(500) Days of Summer (2009)',
  5.0): Int64Index([47412, 47415, 47418, 47421, 47433], dtype='int64'),
 ('*batteries not included (1987)', 2.5): Int64Index([96583], dtype='int64'),
 ('*batteries not included (1987)',
  3.0): Int64Index([96582, 96587], dtype='int64'),
 ('*batteries not included (1987)',
  3.5): Int64Index([96585, 96586, 96588], dtype='int64'),
 ('*batteries not included (1987)', 4.0): Int64Index([96584], dtype='int64'),
 ('...All the Marbles (1981)', 2.0): Int64Index([97373], dtype='int64'),
 ('...And Justice for All (1979)', 2.5): Int64Index([97086], dtype='int64'),
 ('...And Justice for All (1979)', 3.0): Int64Index([97085], dtype='int64'),
 ('...And Justice for All (1979)', 4.0): Int64Index([97084], dtype='int64'),
 ('00 Schneider - Jagd auf Nihil Baxter (1994)',
  4.5): Int64Index([57444], dtype='int64'),
 ('1-900 (06) (1994)', 4.0): Int64Index([77456], dtype='int64'),
 ('10 (1979)', 2.0): Int64Index([91469], dtype='int64'),
 ('10 (1979)', 3.5): Int64Index([91468, 91471], dtype='int64'),
 ('10 (1979)', 4.5): Int64Index([91470], dtype='int64'),
 ('10 Cent Pistol (2015)', 0.5): Int64Index([68885], dtype='int64'),
 ('10 Cent Pistol (2015)', 2.0): Int64Index([68886], dtype='int64'),
 ('10 Cloverfield Lane (2016)',
  2.5): Int64Index([48346, 48349], dtype='int64'),
 ('10 Cloverfield Lane (2016)',
  3.0): Int64Index([48343, 48345, 48351], dtype='int64'),
 ('10 Cloverfield Lane (2016)',
  4.0): Int64Index([48341, 48342, 48344, 48347, 48348, 48350, 48352], dtype='int64'),
 ('10 Cloverfield Lane (2016)', 4.5): Int64Index([48340], dtype='int64'),
 ('10 Cloverfield Lane (2016)', 5.0): Int64Index([48339], dtype='int64'),
 ('10 Items or Less (2006)', 1.5): Int64Index([94536], dtype='int64'),
 ('10 Items or Less (2006)', 3.0): Int64Index([94535], dtype='int64'),
 ('10 Items or Less (2006)', 3.5): Int64Index([94537], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  0.5): Int64Index([44421], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  1.0): Int64Index([44406, 44410], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  2.0): Int64Index([44412, 44446], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  2.5): Int64Index([44420, 44433, 44434, 44435], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  3.0): Int64Index([44400, 44416, 44419, 44422, 44423, 44438, 44443, 44445, 44448,
             44449, 44450, 44451],
            dtype='int64'),
 ('10 Things I Hate About You (1999)',
  3.5): Int64Index([44407, 44414, 44428, 44430, 44439, 44441, 44442, 44444], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  4.0): Int64Index([44404, 44405, 44409, 44417, 44418, 44424, 44425, 44426, 44427,
             44429, 44432, 44436, 44440],
            dtype='int64'),
 ('10 Things I Hate About You (1999)',
  4.5): Int64Index([44401, 44408, 44415, 44437], dtype='int64'),
 ('10 Things I Hate About You (1999)',
  5.0): Int64Index([44399, 44402, 44403, 44411, 44413, 44431, 44447, 44452], dtype='int64'),
 ('10 Years (2011)', 3.5): Int64Index([98679], dtype='int64'),
 ('10,000 BC (2008)', 0.5): Int64Index([73743], dtype='int64'),
 ('10,000 BC (2008)', 1.5): Int64Index([73754], dtype='int64'),
 ('10,000 BC (2008)', 2.0): Int64Index([73748, 73753, 73755], dtype='int64'),
 ('10,000 BC (2008)', 2.5): Int64Index([73745, 73756, 73759], dtype='int64'),
 ('10,000 BC (2008)',
  3.0): Int64Index([73749, 73751, 73752, 73757, 73758], dtype='int64'),
 ('10,000 BC (2008)', 3.5): Int64Index([73746], dtype='int64'),
 ('10,000 BC (2008)', 4.0): Int64Index([73744, 73747, 73750], dtype='int64'),
 ('100 Girls (2000)', 2.5): Int64Index([83737], dtype='int64'),
 ('100 Girls (2000)', 3.5): Int64Index([83736, 83738, 83739], dtype='int64'),
 ('100 Streets (2016)', 2.5): Int64Index([98913], dtype='int64'),
 ('101 Dalmatians (1996)',
  1.0): Int64Index([59052, 59058, 59059], dtype='int64'),
 ('101 Dalmatians (1996)',
  2.0): Int64Index([59056, 59084, 59086, 59096], dtype='int64'),
 ('101 Dalmatians (1996)',
  2.5): Int64Index([59057, 59063, 59069, 59090], dtype='int64'),
 ('101 Dalmatians (1996)',
  3.0): Int64Index([59053, 59054, 59055, 59060, 59061, 59065, 59066, 59067, 59072,
             59073, 59074, 59079, 59080, 59081, 59082, 59087, 59089, 59093,
             59094, 59095, 59098],
            dtype='int64'),
 ('101 Dalmatians (1996)',
  3.5): Int64Index([59062, 59071, 59075, 59077, 59092], dtype='int64'),
 ('101 Dalmatians (1996)',
  4.0): Int64Index([59064, 59070, 59076, 59078, 59083, 59088, 59097], dtype='int64'),
 ('101 Dalmatians (1996)',
  5.0): Int64Index([59068, 59085, 59091], dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  1.5): Int64Index([46060, 46072], dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  2.0): Int64Index([46084, 46100], dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  3.0): Int64Index([46062, 46063, 46064, 46065, 46066, 46074, 46076, 46079, 46082,
             46085, 46087, 46088, 46095, 46098, 46103],
            dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  3.5): Int64Index([46067, 46077, 46081, 46086, 46093, 46097], dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  4.0): Int64Index([46061, 46068, 46069, 46070, 46073, 46075, 46078, 46080, 46089,
             46090, 46091, 46092, 46096, 46099, 46101, 46102],
            dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  4.5): Int64Index([46083, 46094], dtype='int64'),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)',
  5.0): Int64Index([46071], dtype='int64'),
 ("101 Dalmatians II: Patch's London Adventure (2003)",
  2.5): Int64Index([99687], dtype='int64'),
 ('101 Reykjavik (101 Reykjavík) (2000)',
  3.5): Int64Index([97855], dtype='int64'),
 ('102 Dalmatians (2000)',
  2.0): Int64Index([86380, 86382, 86383], dtype='int64'),
 ('102 Dalmatians (2000)', 2.5): Int64Index([86378, 86379], dtype='int64'),
 ('102 Dalmatians (2000)', 3.0): Int64Index([86381, 86385], dtype='int64'),
 ('102 Dalmatians (2000)', 3.5): Int64Index([86384], dtype='int64'),
 ('102 Dalmatians (2000)', 4.5): Int64Index([86377], dtype='int64'),
 ('10th & Wolf (2006)', 4.5): Int64Index([91504], dtype='int64'),
 ('10th Kingdom, The (2000)', 1.0): Int64Index([99728], dtype='int64'),
 ('10th Kingdom, The (2000)', 4.5): Int64Index([99727], dtype='int64'),
 ('10th Victim, The (La decima vittima) (1965)',
  4.0): Int64Index([97366], dtype='int64'),
 ('11\'09"01 - September 11 (2002)',
  4.0): Int64Index([99326, 99327], dtype='int64'),
 ('11:14 (2003)', 3.0): Int64Index([91501], dtype='int64'),
 ('11:14 (2003)', 4.0): Int64Index([91500, 91502, 91503], dtype='int64'),
 ('11th Hour, The (2007)', 4.0): Int64Index([91505], dtype='int64'),
 ('12 Angry Men (1957)', 0.5): Int64Index([21259, 21283], dtype='int64'),
 ('12 Angry Men (1957)', 1.0): Int64Index([21271], dtype='int64'),
 ('12 Angry Men (1957)', 2.5): Int64Index([21233], dtype='int64'),
 ('12 Angry Men (1957)', 3.0): Int64Index([21232, 21234], dtype='int64'),
 ('12 Angry Men (1957)', 3.5): Int64Index([21255, 21280], dtype='int64'),
 ('12 Angry Men (1957)',
  4.0): Int64Index([21230, 21236, 21239, 21240, 21247, 21248, 21249, 21250, 21252,
             21254, 21257, 21261, 21262, 21264, 21266, 21269, 21273, 21275,
             21276, 21279, 21282],
            dtype='int64'),
 ('12 Angry Men (1957)',
  4.5): Int64Index([21238, 21241, 21243, 21246, 21251, 21256, 21267, 21272, 21274,
             21281],
            dtype='int64'),
 ('12 Angry Men (1957)',
  5.0): Int64Index([21229, 21231, 21235, 21237, 21242, 21244, 21245, 21253, 21258,
             21260, 21263, 21265, 21268, 21270, 21277, 21278, 21284, 21285],
            dtype='int64'),
 ('12 Angry Men (1997)', 5.0): Int64Index([92270], dtype='int64'),
 ('12 Chairs (1971)', 4.5): Int64Index([88639], dtype='int64'),
 ('12 Chairs (1976)', 5.0): Int64Index([88635], dtype='int64'),
 ('12 Rounds (2009)', 3.0): Int64Index([94879, 94880, 94881], dtype='int64'),
 ('12 Years a Slave (2013)', 2.0): Int64Index([68372], dtype='int64'),
 ('12 Years a Slave (2013)', 2.5): Int64Index([68379], dtype='int64'),
 ('12 Years a Slave (2013)', 3.0): Int64Index([68380, 68382], dtype='int64'),
 ('12 Years a Slave (2013)', 3.5): Int64Index([68384, 68387], dtype='int64'),
 ('12 Years a Slave (2013)',
  4.0): Int64Index([68373, 68374, 68375, 68376, 68377, 68378, 68383, 68385, 68386], dtype='int64'),
 ('12 Years a Slave (2013)', 4.5): Int64Index([68381], dtype='int64'),
 ('127 Hours (2010)', 1.5): Int64Index([78758], dtype='int64'),
 ('127 Hours (2010)', 2.0): Int64Index([78747], dtype='int64'),
 ('127 Hours (2010)', 3.0): Int64Index([78761], dtype='int64'),
 ('127 Hours (2010)', 3.5): Int64Index([78759], dtype='int64'),
 ('127 Hours (2010)',
  4.0): Int64Index([78748, 78749, 78750, 78754, 78755, 78757, 78760, 78763, 78764], dtype='int64'),
 ('127 Hours (2010)',
  4.5): Int64Index([78751, 78752, 78753, 78756], dtype='int64'),
 ('127 Hours (2010)', 5.0): Int64Index([78762], dtype='int64'),
 ('13 Assassins (Jûsan-nin no shikaku) (2010)',
  3.0): Int64Index([93599], dtype='int64'),
 ('13 Assassins (Jûsan-nin no shikaku) (2010)',
  3.5): Int64Index([93600], dtype='int64'),
 ('13 Assassins (Jûsan-nin no shikaku) (2010)',
  4.5): Int64Index([93598], dtype='int64'),
 ('13 Assassins (Jûsan-nin no shikaku) (2010)',
  5.0): Int64Index([93601], dtype='int64'),
 ('13 Ghosts (1960)', 2.5): Int64Index([89665, 89666], dtype='int64'),
 ('13 Ghosts (1960)', 3.0): Int64Index([89667], dtype='int64'),
 ('13 Ghosts (1960)', 4.5): Int64Index([89668], dtype='int64'),
 ('13 Going on 30 (2004)', 2.0): Int64Index([75762], dtype='int64'),
 ('13 Going on 30 (2004)', 2.5): Int64Index([75755, 75771], dtype='int64'),
 ('13 Going on 30 (2004)',
  3.0): Int64Index([75758, 75759, 75761, 75764, 75766, 75767, 75768, 75770, 75772,
             75774, 75775],
            dtype='int64'),
 ('13 Going on 30 (2004)',
  3.5): Int64Index([75756, 75760, 75765, 75769, 75773], dtype='int64'),
 ('13 Going on 30 (2004)', 4.5): Int64Index([75763], dtype='int64'),
 ('13 Going on 30 (2004)', 5.0): Int64Index([75757], dtype='int64'),
 ('13 Hours (2016)', 1.5): Int64Index([89774], dtype='int64'),
 ('13 Hours (2016)', 3.0): Int64Index([89773], dtype='int64'),
 ('13 Hours (2016)', 3.5): Int64Index([89775, 89776], dtype='int64'),
 ('13 Hours (2016)', 5.0): Int64Index([89772], dtype='int64'),
 ('13 Sins (2014)', 3.5): Int64Index([100789], dtype='int64'),
 ('13 Tzameti (2005)', 4.5): Int64Index([88459], dtype='int64'),
 ('13th (2016)', 4.5): Int64Index([92923, 92924], dtype='int64'),
 ('13th Warrior, The (1999)',
  1.0): Int64Index([13831, 13841, 13843], dtype='int64'),
 ('13th Warrior, The (1999)',
  2.0): Int64Index([13826, 13832, 13840], dtype='int64'),
 ('13th Warrior, The (1999)',
  2.5): Int64Index([13827, 13835, 13837, 13848], dtype='int64'),
 ('13th Warrior, The (1999)',
  3.0): Int64Index([13829, 13830, 13834, 13839, 13842, 13844, 13847], dtype='int64'),
 ('13th Warrior, The (1999)',
  3.5): Int64Index([13824, 13825, 13833], dtype='int64'),
 ('13th Warrior, The (1999)',
  4.0): Int64Index([13823, 13836, 13838, 13846], dtype='int64'),
 ('13th Warrior, The (1999)', 4.5): Int64Index([13828, 13845], dtype='int64'),
 ('1408 (2007)', 0.5): Int64Index([73616, 73618], dtype='int64'),
 ('1408 (2007)', 1.0): Int64Index([73611], dtype='int64'),
 ('1408 (2007)', 2.0): Int64Index([73634], dtype='int64'),
 ('1408 (2007)', 2.5): Int64Index([73629, 73633], dtype='int64'),
 ('1408 (2007)', 3.0): Int64Index([73613, 73619, 73627, 73628], dtype='int64'),
 ('1408 (2007)',
  3.5): Int64Index([73612, 73614, 73620, 73622, 73630, 73632], dtype='int64'),
 ('1408 (2007)',
  4.0): Int64Index([73615, 73617, 73621, 73623, 73625, 73626, 73631, 73635], dtype='int64'),
 ('1408 (2007)', 5.0): Int64Index([73624], dtype='int64'),
 ('1492: Conquest of Paradise (1992)',
  2.5): Int64Index([100150], dtype='int64'),
 ('15 Minutes (2001)', 0.5): Int64Index([90724], dtype='int64'),
 ('15 Minutes (2001)', 2.0): Int64Index([90721, 90727, 90729], dtype='int64'),
 ('15 Minutes (2001)', 3.0): Int64Index([90720], dtype='int64'),
 ('15 Minutes (2001)', 3.5): Int64Index([90723, 90726], dtype='int64'),
 ('15 Minutes (2001)', 4.0): Int64Index([90722], dtype='int64'),
 ('15 Minutes (2001)', 4.5): Int64Index([90725], dtype='int64'),
 ('15 Minutes (2001)', 5.0): Int64Index([90728], dtype='int64'),
 ('16 Blocks (2006)', 2.5): Int64Index([73178, 73180, 73183], dtype='int64'),
 ('16 Blocks (2006)',
  3.0): Int64Index([73179, 73181, 73182, 73186], dtype='int64'),
 ('16 Blocks (2006)', 3.5): Int64Index([73185], dtype='int64'),
 ('16 Blocks (2006)', 4.0): Int64Index([73184], dtype='int64'),
 ('17 Again (2009)', 2.5): Int64Index([84980], dtype='int64'),
 ('17 Again (2009)', 3.0): Int64Index([84973], dtype='int64'),
 ('17 Again (2009)',
  3.5): Int64Index([84972, 84976, 84977, 84978, 84979], dtype='int64'),
 ('17 Again (2009)', 4.0): Int64Index([84974, 84981], dtype='int64'),
 ('17 Again (2009)', 4.5): Int64Index([84975], dtype='int64'),
 ('1776 (1972)', 3.0): Int64Index([91858], dtype='int64'),
 ('1776 (1972)', 4.0): Int64Index([91857], dtype='int64'),
 ('18 Again! (1988)', 1.0): Int64Index([98071], dtype='int64'),
 ('18 Again! (1988)', 2.0): Int64Index([98072], dtype='int64'),
 ('187 (One Eight Seven) (1997)', 2.0): Int64Index([97973], dtype='int64'),
 ('187 (One Eight Seven) (1997)', 2.5): Int64Index([97974], dtype='int64'),
 ('187 (One Eight Seven) (1997)', 3.5): Int64Index([97975], dtype='int64'),
 ('1900 (Novecento) (1976)', 4.5): Int64Index([98974], dtype='int64'),
 ('1941 (1979)', 2.0): Int64Index([97382], dtype='int64'),
 ('1941 (1979)', 2.5): Int64Index([97380], dtype='int64'),
 ('1941 (1979)', 3.5): Int64Index([97381], dtype='int64'),
 ('1969 (1988)', 2.0): Int64Index([98073], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  2.0): Int64Index([87194], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  3.0): Int64Index([87192, 87198, 87200, 87202], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  3.5): Int64Index([87193], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  4.0): Int64Index([87190, 87191, 87196, 87199, 87201], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  4.5): Int64Index([87203], dtype='int64'),
 ('1984 (Nineteen Eighty-Four) (1984)',
  5.0): Int64Index([87195, 87197], dtype='int64'),
 ('2 Days in New York (2012)', 2.5): Int64Index([98666], dtype='int64'),
 ('2 Days in Paris (2007)', 3.5): Int64Index([99552], dtype='int64'),
 ('2 Days in the Valley (1996)',
  2.0): Int64Index([33691, 33692, 33696], dtype='int64'),
 ('2 Days in the Valley (1996)',
  3.0): Int64Index([33698, 33699, 33700, 33701, 33702], dtype='int64'),
 ('2 Days in the Valley (1996)', 3.5): Int64Index([33694], dtype='int64'),
 ('2 Days in the Valley (1996)',
  4.0): Int64Index([33693, 33695, 33697], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  0.5): Int64Index([83578], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  1.5): Int64Index([83576, 83580], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  2.0): Int64Index([83583, 83586], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  2.5): Int64Index([83581, 83582, 83585, 83589], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  3.0): Int64Index([83571, 83572, 83573, 83575, 83577, 83584, 83587], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  3.5): Int64Index([83574, 83588], dtype='int64'),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
  4.0): Int64Index([83579], dtype='int64'),
 ('2 Guns (2013)', 3.5): Int64Index([68336], dtype='int64'),
 ('2 Guns (2013)', 4.0): Int64Index([68337], dtype='int64'),
 ('2 Guns (2013)', 4.5): Int64Index([68338], dtype='int64'),
 ('20 Dates (1998)', 1.0): Int64Index([12395, 12397], dtype='int64'),
 ('20 Dates (1998)', 3.0): Int64Index([12400], dtype='int64'),
 ('20 Dates (1998)',
  4.0): Int64Index([12394, 12396, 12398, 12399], dtype='int64'),
 ('20 Feet from Stardom (Twenty Feet from Stardom) (2013)',
  4.0): Int64Index([98994], dtype='int64'),
 ('20 Feet from Stardom (Twenty Feet from Stardom) (2013)',
  4.5): Int64Index([98993], dtype='int64'),
 ('20 Million Miles to Earth (1957)', 5.0): Int64Index([97372], dtype='int64'),
 ('20,000 Days on Earth (2014)', 4.0): Int64Index([57116], dtype='int64'),
 ('20,000 Leagues Under the Sea (1916)',
  3.5): Int64Index([89670], dtype='int64'),
 ('20,000 Leagues Under the Sea (1916)',
  4.0): Int64Index([89669], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  2.0): Int64Index([82941, 82949], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  3.0): Int64Index([82945, 82947, 82948, 82951, 82952, 82954, 82956], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  3.5): Int64Index([82955], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  4.0): Int64Index([82943, 82946, 82950, 82957], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  4.5): Int64Index([82953], dtype='int64'),
 ('20,000 Leagues Under the Sea (1954)',
  5.0): Int64Index([82942, 82944], dtype='int64'),
 ('200 Cigarettes (1999)', 2.0): Int64Index([77706], dtype='int64'),
 ('200 Cigarettes (1999)',
  3.0): Int64Index([77708, 77709, 77710], dtype='int64'),
 ('200 Cigarettes (1999)', 4.0): Int64Index([77705, 77707], dtype='int64'),
 ('2001 Maniacs (2005)', 3.0): Int64Index([95635], dtype='int64'),
 ('2001 Maniacs (2005)', 3.5): Int64Index([95634], dtype='int64'),
 ('2001: A Space Odyssey (1968)',
  1.0): Int64Index([33875, 33890, 33907, 33956], dtype='int64'),
 ('2001: A Space Odyssey (1968)',
  1.5): Int64Index([33876, 33891, 33922], dtype='int64'),
 ('2001: A Space Odyssey (1968)',
  2.0): Int64Index([33863, 33866, 33867, 33887, 33923, 33931, 33945], dtype='int64'),

In [168]:
df_no_of_rating=pd.DataFrame(df_moviedata.groupby('title')['rating'].count()) # This is very important

In [169]:
# Sort tby value and sort by index
#Require such movie which have been given the highest rating
df_no_of_rating.sort_values(by='rating',ascending=False)

                                           rating
title
Forrest Gump (1994)                           329
Shawshank Redemption, The (1994)              317
Pulp Fiction (1994)                           307
Silence of the Lambs, The (1991)              279
Matrix, The (1999)                            278
...                                           ...
King Solomon's Mines (1950)                     1
King Solomon's Mines (1937)                     1
King Ralph (1991)                               1
King Kong Lives (1986)                          1
À nous la liberté (Freedom for Us) (1931)       1

[9719 rows x 1 columns]

In [170]:
# Correlation
correlation_movie=movie_pivottable.corrwith(datamovie)
print(correlation_movie)

title
'71 (2014)                                        NaN
'Hellboy': The Seeds of Creation (2004)           NaN
'Round Midnight (1986)                            NaN
'Salem's Lot (2004)                               NaN
'Til There Was You (1997)                         NaN
                                               ...
eXistenZ (1999)                              0.333282
xXx (2002)                                  -0.244733
xXx: State of the Union (2005)               0.129969
¡Three Amigos! (1986)                       -0.387202
À nous la liberté (Freedom for Us) (1931)         NaN
Length: 9719, dtype: float64

In [171]:
df_ratings['no_of_ratings']=pd.DataFrame(df_moviedata.groupby('title')['rating'].count())

In [172]:
df_ratings

                                             rating  no_of_ratings
title
'71 (2014)                                 4.000000              1
'Hellboy': The Seeds of Creation (2004)    4.000000              1
'Round Midnight (1986)                     3.500000              2
'Salem's Lot (2004)                        5.000000              1
'Til There Was You (1997)                  4.000000              2
...                                             ...            ...
eXistenZ (1999)                            3.863636             22
xXx (2002)                                 2.770833             24
xXx: State of the Union (2005)             2.000000              5
¡Three Amigos! (1986)                      3.134615             26
À nous la liberté (Freedom for Us) (1931)  1.000000              1

[9719 rows x 2 columns]

In [173]:
df_ratings.sort_values(by='no_of_ratings',ascending=False)

                                             rating  no_of_ratings
title
Forrest Gump (1994)                        4.164134            329
Shawshank Redemption, The (1994)           4.429022            317
Pulp Fiction (1994)                        4.197068            307
Silence of the Lambs, The (1991)           4.161290            279
Matrix, The (1999)                         4.192446            278
...                                             ...            ...
King Solomon's Mines (1950)                3.000000              1
King Solomon's Mines (1937)                2.500000              1
King Ralph (1991)                          1.500000              1
King Kong Lives (1986)                     2.000000              1
À nous la liberté (Freedom for Us) (1931)  1.000000              1

[9719 rows x 2 columns]

In [174]:
df_similar=pd.DataFrame(correlation_movie,columns=['Correlation'])
df_similar.sort_values('Correlation',ascending=False,inplace=True)
df_similar.head(10)

                                                    Correlation
title
Land Before Time III: The Time of the Great Giv...          1.0
Faster Pussycat! Kill! Kill! (1965)                         1.0
Amen. (2002)                                                1.0
Machine Girl, The (Kataude mashin gâru) (2008)              1.0
Waydowntown (2000)                                          1.0
Brigadoon (1954)                                            1.0
Project X (1987)                                            1.0
Imitation of Life (1959)                                    1.0
Terminal Velocity (1994)                                    1.0
Washington Square (1997)                                    1.0

In [175]:
#Accessing movie title then it can not be done
df_similar.iloc[0:10,:].index

Index(['Land Before Time III: The Time of the Great Giving (1995)',
       'Faster Pussycat! Kill! Kill! (1965)', 'Amen. (2002)',
       'Machine Girl, The (Kataude mashin gâru) (2008)', 'Waydowntown (2000)',
       'Brigadoon (1954)', 'Project X (1987)', 'Imitation of Life (1959)',
       'Terminal Velocity (1994)', 'Washington Square (1997)'],
      dtype='object', name='title')

In [176]:
df1=df_ratings.join(df_similar)
df1.sort_values(by='Correlation',ascending=False,inplace=True)
df1.head(10)

,rating,no_of_ratings,Correlation
title,,,
Land Before Time III: The Time of the Great Giving (1995),2.166667,3,1.0
Faster Pussycat! Kill! Kill! (1965),3.700000,5,1.0
Amen. (2002),3.833333,3,1.0
"Machine Girl, The (Kataude mashin gâru) (2008)",2.250000,2,1.0
Waydowntown (2000),3.666667,3,1.0
Brigadoon (1954),4.000000,3,1.0
Project X (1987),2.750000,2,1.0
Imitation of Life (1959),3.500000,2,1.0
Terminal Velocity (1994),2.750000,6,1.0
Washington Square (1997),3.750000,2,1.0

# Homework

In [177]:
#Q  Recommend such movie whch correlation is maximum and rating is max than 15 and 20
#st  condition corr relation maximum
#2nd condition where rating is more than 15

In [178]:
df_no_of_rating

                                           rating
title
'71 (2014)                                      1
'Hellboy': The Seeds of Creation (2004)         1
'Round Midnight (1986)                          2
'Salem's Lot (2004)                             1
'Til There Was You (1997)                       2
...                                           ...
eXistenZ (1999)                                22
xXx (2002)                                     24
xXx: State of the Union (2005)                  5
¡Three Amigos! (1986)                          26
À nous la liberté (Freedom for Us) (1931)       1

[9719 rows x 1 columns]

In [179]:
df_no_of_rating.sort_values(by='rating',ascending=False)

                                           rating
title
Forrest Gump (1994)                           329
Shawshank Redemption, The (1994)              317
Pulp Fiction (1994)                           307
Silence of the Lambs, The (1991)              279
Matrix, The (1999)                            278
...                                           ...
King Solomon's Mines (1950)                     1
King Solomon's Mines (1937)                     1
King Ralph (1991)                               1
King Kong Lives (1986)                          1
À nous la liberté (Freedom for Us) (1931)       1

[9719 rows x 1 columns]

In [180]:
df2=df_no_of_rating.loc[df_no_of_rating['rating'].ge(15)]

In [181]:
df2

                                   rating
title
'burbs, The (1989)                     17
(500) Days of Summer (2009)            42
10 Things I Hate About You (1999)      54
10,000 BC (2008)                       17
101 Dalmatians (1996)                  47
...                                   ...
Zoolander (2001)                       54
Zootopia (2016)                        32
eXistenZ (1999)                        22
xXx (2002)                             24
¡Three Amigos! (1986)                  26

[1650 rows x 1 columns]

In [182]:
df3=pd.DataFrame(correlation_movie,columns=['Correlation'])
df3.sort_values('Correlation',ascending=False,inplace=True)
df3.head(10)

                                                    Correlation
title
Land Before Time III: The Time of the Great Giv...          1.0
Faster Pussycat! Kill! Kill! (1965)                         1.0
Amen. (2002)                                                1.0
Machine Girl, The (Kataude mashin gâru) (2008)              1.0
Waydowntown (2000)                                          1.0
Brigadoon (1954)                                            1.0
Project X (1987)                                            1.0
Imitation of Life (1959)                                    1.0
Terminal Velocity (1994)                                    1.0
Washington Square (1997)                                    1.0

In [183]:
df4=pd.merge(df3,df2,how='inner',on='title')

In [184]:
df5=df4.loc[df4['rating'].ge(15)]

In [185]:
df5.head(10)

                                                    Correlation  rating
title
Toy Story (1995)                                       1.000000     215
The Nice Guys (2016)                                   0.968694      15
22 Jump Street (2014)                                  0.913282      19
Untitled Spider-Man Reboot (2017)                      0.898497      16
Darjeeling Limited, The (2007)                         0.868810      21
Let the Right One In (Låt den rätte komma in) (...     0.832835      17
Thor: Ragnarok (2017)                                  0.818393      20
Ghost Dog: The Way of the Samurai (1999)               0.816100      19
Paper, The (1994)                                      0.805735      21
21 Grams (2003)                                        0.793611      25

# These are the top 10 movies with high correlation and rating

In [186]:
df6=df3.join(df2)

In [187]:
df6

                                                    Correlation  rating
title
Land Before Time III: The Time of the Great Giv...          1.0     NaN
Faster Pussycat! Kill! Kill! (1965)                         1.0     NaN
Amen. (2002)                                                1.0     NaN
Machine Girl, The (Kataude mashin gâru) (2008)              1.0     NaN
Waydowntown (2000)                                          1.0     NaN
...                                                         ...     ...
Zulu (2013)                                                 NaN     NaN
[REC]² (2009)                                               NaN     NaN
[REC]³ 3 Génesis (2012)                                     NaN     NaN
anohana: The Flower We Saw That Day - The Movie...          NaN     NaN
À nous la liberté (Freedom for Us) (1931)                   NaN     NaN

[9719 rows x 2 columns]

In [188]:
df6.sort_values(by='rating',ascending=True)

                                                    Correlation  rating
title
Fallen (1998)                                         -0.375972    15.0
Seven Psychopaths (2012)                               0.572248    15.0
Out of Africa (1985)                                   0.265908    15.0
Before Sunset (2004)                                   0.264575    15.0
General's Daughter, The (1999)                        -0.413569    15.0
...                                                         ...     ...
Zulu (2013)                                                 NaN     NaN
[REC]² (2009)                                               NaN     NaN
[REC]³ 3 Génesis (2012)                                     NaN     NaN
anohana: The Flower We Saw That Day - The Movie...          NaN     NaN
À nous la liberté (Freedom for Us) (1931)                   NaN     NaN

[9719 rows x 2 columns]

In [189]:
df6

                                                    Correlation  rating
title
Land Before Time III: The Time of the Great Giv...          1.0     NaN
Faster Pussycat! Kill! Kill! (1965)                         1.0     NaN
Amen. (2002)                                                1.0     NaN
Machine Girl, The (Kataude mashin gâru) (2008)              1.0     NaN
Waydowntown (2000)                                          1.0     NaN
...                                                         ...     ...
Zulu (2013)                                                 NaN     NaN
[REC]² (2009)                                               NaN     NaN
[REC]³ 3 Génesis (2012)                                     NaN     NaN
anohana: The Flower We Saw That Day - The Movie...          NaN     NaN
À nous la liberté (Freedom for Us) (1931)                   NaN     NaN

[9719 rows x 2 columns]

#  JOINS

In [ ]:
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})

In [ ]:
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

In [ ]:
print (left)

In [ ]:
print(right)

In [ ]:
# Merge two dataframe on 'id'

In [ ]:
pd.merge(left,right,on='id')

In [ ]:
# Merge two dataframe on multiple keys

In [ ]:
 pd.merge(left,right,on=['id','subject_id'])

In [ ]:
#Merge using how argument

In [ ]:
pd.merge(left, right, on='subject_id', how='left')

In [ ]:
pd.merge(left, right, on='subject_id', how='right')

In [ ]:
pd.merge(left, right, on='subject_id', how='outer')

In [ ]:
pd.merge(left, right, on='subject_id', how='inner')

#  Working with movies data set

In [ ]:
df_movie_data=pd.merge(df_user,df_movies,how='inner',on=['movieId'])
df_movie_data

In [ ]:
movie_pivottable=df_movie_data.pivot_table(index='userId',columns='title',values='rating')
movie_pivottable

In [ ]:
data=movie_pivottable.iloc[1:2,:]

In [ ]:
data

In [ ]:
moviename=input('enter the movie name')
datamovie=movie_pivottable[moviename]

print(datamovie.dropna())

In [ ]:
df_movie_data.groupby(['title','rating']).groups

# Group by

In [ ]:
ipl_data={'Teams':['dd','csk','dc','mi','p1','srh','mi','csk'],'rank':[1,2,3,4,1,2,3,4],'year':[2014,2014,2015,2016,2013,2017,2015,2012]}
ipl_data

In [ ]:
#Convert to data frame
ipl_data=pd.DataFrame(ipl_data)

In [ ]:
ipl_data

In [ ]:
group1=ipl_data.groupby('Teams')
group1

In [ ]:
group1.groups

In [ ]:
group2=ipl_data.groupby('year')
group2

In [ ]:
group2.groups

In [ ]:
# Grouping more than on parameter   on the basis of year and team
group3=ipl_data.groupby(['Teams','year'])
group3

In [ ]:
group3.groups

In [ ]:
group4=ipl_data.groupby('year')
for name, group in group4:
    print(group)

In [ ]:
group4.get_group(2014)

In [ ]:
# Using mathematical formula
group4['rank'].agg(np.mean)

In [ ]:
# Using mathematical formula using list
group4['rank'].agg([np.mean,np.sum,np.max])

In [ ]:
# No of movie which has high rating

In [ ]:
df_no_of_rating=pd.DataFrame(df_movie_data.groupby('title')['ratings']).count())

In [ ]:
# Correlation
moviename=input('enter the movie name')
datamovie=movie_pivottable[moviename]

print(datamovie.dropna())

In [ ]:
# Correlation
corr_movie=movie_pivottable(datamovie)
#print(corr_movie)
df_similar_movie=pd.DataFrame(corr_movie,columns=['Correlation'])
df_similar_movie.sort_values('corr_movie',ascending=False,inplace=True)
df_similar_movie.head()

In [ ]:
df_ratings['numbers_of_ratings']=pd.DataFrame(df_movie_data.groupby('title')['rating'].count())